- name: Add tags to all tasks
  tags:
    - always
  block:
    # - name: Show tags
    #   ansible.builtin.debug:
    #     msg: "{{ ansible_run_tags }}"
    - name: Make sure required variables are defined
      ansible.builtin.assert:
        that:
          - '".tar.gz" in iris_install_file'
          - '".sh" in iris_instaserver_file'
