---
- name: Add tags to all tasks
  tags:
    - always
  block:
    - name: show sudoers configuration
      ansible.builtin.debug:
        var: iris_sudoers

    - name: Configure sudoers
      ansible.builtin.template:
        src: sudoers.j2
        dest: /etc/sudoers.d/{{ item.file_name | default(item.user.replace(".", "-")) }}
        owner: root
        group: root
        mode: "0400"
      loop: "{{ iris_sudoers }}"
      when: item.state is undefined or item.state == 'present'

    - name: Remove sudoers configuration
      ansible.builtin.file:
        path: /etc/sudoers.d/{{ item.file_name | default(item.user.replace(".", "-")) }}
        state: absent
      loop: "{{ iris_sudoers }}"
      when: item.state is defined and item.state == 'absent'
