---
- name: Add tags to all tasks
  tags:
    - always
  block:
    - name: Install dependencies
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      loop:
        - "{{ iris_dependencies }}"
