---
# - name: Make sure required variables are defined
#   ansible.builtin.assert:
#     that:
#       - "lookup('ansible.builtin.env', 'SQL_SA_PASSWORD', default=sql_sa_password) is defined"
- name: Check assertions
  ansible.builtin.include_tasks:
    file: check_assertions.yml
  tags:
    - always

- name: Configure selinux
  ansible.builtin.include_tasks:
    file: configure_selinux.yml
  tags:
    - selinux

- name: Define variables
  ansible.builtin.include_tasks:
    file: define_variables.yml
  tags:
    - always

- name: Install dependencies
  ansible.builtin.include_tasks:
    file: install_dependencies.yml
  tags:
    - dependencies
    - packages

- name: Provision users and groups
  ansible.builtin.include_tasks:
    file: provision_users_and_groups.yml
  tags:
    - users
    - groups

- name: Provision SSH keys
  ansible.builtin.include_tasks:
    file: ssh_keys.yml
  tags:
    - keys

- name: Customize SSH Config
  ansible.builtin.include_tasks:
    file: configure_sshd.yml
  tags:
    - sshd

- name: Populate known hosts
  ansible.builtin.include_tasks:
    file: populate_known_hosts.yml
  tags:
    - known_hosts

- name: Prepare filesystem
  ansible.builtin.include_tasks:
    file: prepare_filesystem.yml
  tags:
    - filesystem
    - directories
    - permissions
    - iris

- name: Get install files
  ansible.builtin.include_tasks:
    file: download_install_files.yml
  tags:
    - download
    - iris

- name: Extract install files
  ansible.builtin.include_tasks:
    file: extract_install_files.yml
  tags:
    - extract
    - iris

- name: Install and configure tuned
  ansible.builtin.include_tasks:
    file: install_and_configure_tuned.yml
  tags:
    - tuned
    - hugepages
    - iris

- name: Install iris
  ansible.builtin.include_tasks:
    file: install_iris.yml
  tags:
    - iris
    # - answerfile
