---
- name: Add tags to all tasks
  tags:
    - always
  block:
    - name: Create groups
      ansible.builtin.group:
        name: "{{ item.name }}"
        state: present
        gid: "{{ item.gid }}"
      loop: "{{ iris_groups }}"

    - name: Set root password
      ansible.builtin.user:
        name: root
        password: "{{ root_pw }}"
      when: root_pw is defined

    - name: Create users
      ansible.builtin.user:
        name: "{{ item.name }}"
        password: "{{ item.password | default(omit) }}"
        uid: "{{ item.uid | default(omit) }}"
        group: "{{ item.group | default(omit) }}"
        groups: "{{ item.groups | default(omit) }}"
        append: "{{ item.append | default(omit) }}"
        shell: "{{ item.shell | default(omit) }}"
      loop: "{{ iris_users }}"

    - name: Allow users to sudo without password
      ansible.builtin.template:
        src: sudoers.j2
        dest: /etc/sudoers.d/{{ item.name.replace(".", "-") }}
        owner: root
        group: root
        mode: "0400"
      loop: "{{ iris_users }}"
      when: item.sudo is defined
