{% for instance in iris_instaserver_variables.Instances %}
Instance={{instance.Instance}},Directory={{instance.Directory | default('/epic/' + instance.Instance | lower)}},InstanceType={{instance.Type | default('NONPROD')}},SuperServerPort={{instance.SuperServerPort | default(1971 + loop.index)}},WebServerPort={{instance.WebServerPort | default(57771 + loop.index)}}
{% endfor %}
LicenseKey={{iris_install_files_path}}/{{iris_key_file}}
Password={{iris_instaserver_variables.Password | default(iris_password, true) | default(lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=12))}}
SystemPulseServer={{iris_instaserver_variables.SystemPulseServer}}
KuiperServer={{iris_instaserver_variables.KuiperServer}}
SMTPServer={{iris_instaserver_variables.SMTPServer}}
EmailFrom={{iris_instaserver_variables.EmailFrom}}
EmailTo={{iris_instaserver_variables.EmailTo}}
Organization={{iris_instaserver_variables.Organization}}
{% if iris_instaserver_variables.OtherRemoteServer is defined and iris_instaserver_variables.OtherRemoteServer | length > 0 %}
{% for ors in iris_instaserver_variables.OtherRemoteServer %}
"OtherRemoteServer={{ors.Hostname}},CheckSystemConfig={{ors.CheckSystemConfig}},HostType={{ors.HostType}},Port={{ors.Port | default(10443 + loop.index)}},queued={{ors.Queued}}"
{% endfor %}
{% endif %}
PRDESMPRemoteHost={{iris_instaserver_variables.PRDESMPRemoteHost}},DRESMPRemoteHost={{iris_instaserver_variables.DRESMPRemoteHost}}
